
/*Fourth container  image slider*/
.fourth_container {
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 140px;
}

.image-track {
    display: inline-block;
    animation: 55s slide infinite linear;
}

.image-track img {
    margin-top: 17px;
    height: 44px;
    margin-left: 23px;
    background-color:red;
    padding:45px 60px;
    border-radius:17px;
    width:auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
    from {
        transform: translatex(-100%);
    }

    to {
        transform: translatex(0);
    }
}


/* used to small adjustment of image */

#nissi{
    padding: 45px 100px;
}

#foxon{
    padding: 38px 90px;
    width:90px;
    height:60px ;
}

#hcl{
    padding: 45px 100px;
}

#tata{
    padding: 37px 110px;
    height:60px ;
    width: 77px;
}

#wibro{
    padding: 37px 110px;
    height:60px ;
    width: 97px;
}

#one_eyes{
    padding: 45px 100px;
}

#zoho{
    padding: 45px 90px;
}

#hero{
    padding: 35px 120px;
    height:65px ;
}

#infosys{
    padding: 38px 100px;
    height:60px ;
}

#tcs{
    padding: 37px 90px;
    height:60px ;
}

#thozhil{
    padding: 45px 158px;
}




.fourth_container2 {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 190px;
}

.image-track2 {
    display: inline-block;
    animation: 55s slides infinite linear;
}

.image-track2 img {
    margin-top: 17px;
    height: 44px;
    margin-left: 24px;
    background-color:red;
    padding:45px 60px;
    border-radius:17px;
    width:auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@keyframes slides {
    from {
        transform: translatex(0);
    }

    to {
        transform: translatex(-100%);
    }
}


/* 

.fourth_container2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.image-track2 {
    display: inline-block;
    animation: 15s slides infinite linear;
}

.image-track2 img {
    height: 50px;
    margin-left: 25px;
    margin-top: 14px;
}

@keyframes slides {
    from {
        transform: translatex(0);
    }

    to {
        transform: translatex(-100%);
    }
}

@media screen and (max-width: 985px) {
    .image-track2 img {
        height: 55px;
    }

    .image-track img {
        height: 55px;
    }
} */
