body{
    overflow-x: hidden;
    background-image: url("https://images7.alphacoders.com/352/thumb-1920-352092.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    margin: 0;
    padding: 0;
}


.fixed{
    position: fixed;
    background-color:rgb(123, 21, 178);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 1px 0;
    height: 130px;
}
.not_fixed{
    margin-top: 165px;
}


.first_line_logo {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    flex-wrap: nowrap; 
    overflow-x: hidden; 
    width: 100%; 
    background-color: aliceblue;
    height: 70px;
}

.first_line_logo img, 
.first_line_logo p {
    flex: 0 1 auto; 
    max-width: 15%; 
    height: 50px; 
    margin: 0 10px; 
    text-align: center; 
    white-space: nowrap; 
    color: rgb(5, 138, 255);
}

.first_line_logo p {
    display: flex;
    align-items: center; 
    justify-content: center;  
}

@media screen and (max-width: 600px) {
    .first_line_logo img, 
    .first_line_logo p {
        max-width: 40%; /* Adjust size for smaller screens */
    
    }
    .first_line_logo p{
        display: none;
    }
}


/*nav_bar*/

.btn_navbar{
    margin: 20px;
    display: flex;
    background-color:transparent ;
    color: white;
    padding: 5px 10px;
    width:100%;
    justify-content: flex-end;
    margin-right: 10%; 
    margin-top: 15px;

}

.btn_navbar button{
    border-radius: 10px;
    padding : 5px 10px;
    margin-right: 50px; 
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    margin-bottom: 1px;
    cursor: pointer;
}



.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0;
    right: 0;
    background-color: rgb(120, 28, 206); 
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 60px;
    display: flexbox;
    height: 100% ;
    
}
.sidebar a {
    padding: 8px 5px;
    background-color: #575757;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.4s;
    margin-top: 15px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Links change color on hover */
.sidebar a:hover {
    background-color: #232121;
}


.toggle-btn:hover {
    background-color: #8805e0;
    
}
.toggle-btn{
    cursor: pointer;
    display: none;
}

.closebtn{
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 10px;

}

@media screen  and (max-width: 700px){
    .disapear-button{
        display:none ;
    }
    .toggle-btn{
        display: block;
    }
}
